body{
  
    font-family: Roboto, sans-serif;}
    /*лого шапка logo*/
.site-nav .list{ margin-right: auto;
    margin-right: auto; margin-left: 0px;}

    .logo-start .logo {
    font-style: 400;
    font-weight: 700;
    font-size: 1.2;
    line-height: 31px;}
    .logo-start{
        color: #2196F3;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        
        font-family: Raleway;
        font-style:400;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.4;}
    .logo{
        margin-right: 93px;
        color: #212121;
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        
        font-family: Raleway;
        font-style: 400;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.4;}

           
    
        .logo-my{
    
        color: #FFFFFF;
    
        width: 145px;
        height: 31px;
        left: 215px;
        top: 24px;
        
        font-family: Raleway;
        font-style: 400;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.4;}
        /*список навигации link*/
        .site-nav{text-align: center;
        margin-right: auto;
    margin-right: auto;}

        hr{border: 1px solid #ECECEC;}

          /*КОМАНДЫ*/
    .container {
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}

     .list{
         display: flex;
        margin: 0;
        padding: 0;
        list-style: none; 
    align-items: center;}

    .it-smart{padding-top: 16px;
        padding-bottom: 30px;
        justify-content: center;}

svg path {
fill:inherit;
stroke:inherit;
stroke-width:inherit;

}

.button:hover{
    background: #2196F3;

}

   
.smart-link{

color: #AFB1B8;
background-color: #FFFFFF;
border: none;
display: inline-flex;
align-items: center;
width: 44px;
height: 44px;
border-radius: 50%;
justify-content: center;}

  
.smart-link:focus,
.smart-link:hover{
    color: #FFFFFF;
    ;background-color:#2196F3;
}
.smart-icon{
    
     
    
    fill: currentColor;}


.button:last-child{margin-right: 0px;}



.button-smart{
margin-right: 10px;
fill: currentColor;}




.tel-button{border: none;
    background: #FFFFFF;}

.mobi-mail{
 display: flex;
 text-align: center;
margin-left: 90px;}
             
        .last-nav{display: flex; }

        .navi-bar{margin-right: 50px;
            display: flex;font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;}
            .navi:last-child{margin: 0px;}
            .link::after{content: '';
display: block;
width: 100%;
background: #2196F3;
height: 2px;
position: absolute;
bottom: 0;
display: none;
}
.link:hover::after{display: block;}
        .link { position: relative;
            display: flex;
             display: block;
            padding-top: 32px;
            padding-bottom: 32px;
            text-decoration: none;

            color: #212121;
           font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;}
               
        .link:hover{
            color: #2196F3;
           font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;}
            
         /* Эффективные решения для вашего бизнеса */
    
        .main-hiro{text-align: center;vertical-align:middle;margin-left: auto;
        margin-right: auto;}
        

            .text{background: #2F303A;
            background-image:linear-gradient(to bottom, rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)),
             url(./imege/Img_Overlay.png);
            background-position: center;
       margin-right: auto;
                margin-left: auto;
      width: 1600px;
    height: 600px;}
            .overlay {margin-right: auto;
                margin-left: auto;
            
            
            padding-top: 200px;
         
        }

       

        .hiro-title{
            padding-bottom: 30px;
            margin-left: auto;
            margin-right: auto;
            font-family: Roboto;
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 60px;
/* or 136% */

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
        width: 696px;
        
       }

        /* Внимание к деталям,Пунктуальность,Планирование,Современные технологии*/
        h2{
            color: #212121;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;}

            .rectangle{width: 270px;height: 120px;
                background: #F5F4FA;
                border-radius: 4px;
                margin-right: 30px;
            }
            .rectangle:nth-last-child{margin-right: 0px;}

            .main-paragraph{display: flex;
           
            text-align:left;
            padding-top: 94px;
            padding-left: 0px;
            ;margin-bottom: 30px;
        }
    .wpt{
        padding-top: 10px;}

            .paragraph {
width: 270px;height: 75px;

             padding-top: 10px;
            font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
          

letter-spacing: 0.03em;

color: #757575;  }
    /* Чем мы занимаемся, Наша команда */
.less{padding-top: 94px;

}
 .decor{
     padding-top: 27px;
     background: rgba(47, 48, 58, 0.8);
     font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;

color: #FFFFFF;
     position: absolute;
     right: 0px;
     bottom: 0px;
      width: 370px;
      height: 70px;}


    .lessons{text-align: center;
    padding-bottom: 50px;}
    .affair{
    display: flex;
     padding-left: 0px;
     padding-bottom: 94px; 
    }
    .comm{margin-left: auto;position: relative;
    margin-right: auto;}

    /* Наша команда имена */
  .rov{padding:30px ;}
.main-style {
    background-color: #fff;
    padding-bottom: 30px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.main-boxi {background: #F5F4FA;
 margin-bottom: 94px;
}


.main-team {
display: flex;
padding-left: 0px;

padding-bottom: 94px;
}

.boxi {padding-top: 94px;
    
 padding-bottom: 50px;
  font-weight: 264px;
  font-size: 42px;
  display: flex;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  justify-content: center;}

    h3{
    color: #212121;
    
    font-style: 400;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;}
    .last-items{text-align: right;}
    
    .team{
        font-style: 400;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;
        color: #757575;}
    
    /*мобильный,мыло*/
    .main-nav{
        display: flex;
        text-align: center;}
   
.items:hover{ color:  #2196F3;}

.items:nth-last-child{margin-right: 0px;}
  
    .items{
        
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
        margin-right: 50px;
      

        color: #757575;
        font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;}



    .mobile, .mail{
    padding-top: 9px;
    color: rgba(255, 255, 255, 0.6);
    font-family: Roboto;
                    font-style:400;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;}
    
    /* Все,Веб-сайты,Приложения,Дизайн,Маркетинг*/

        /* заголовки проектов */
        
            h3{
            font-style: 400;
            font-weight: 700;
            font-size: 18px;
            line-height: 2;
            color: #212121;}
            
          
        
.my-network{   
    padding-left: 12px;

    margin-right: 0px;
    margin-left: 0px;
     
     border: none;
    width: 44px; 
    height: 44px; 
     justify-content: center;
border-radius: 50%;
background: #40414b;}



.button-social{
    text-decoration: none;
   
     
        border: none; 
        display: flex;
        color:#FFFFFF;

        height: 23px;
        width: 20px;
    
    border-radius: 4px;}

.network{display: flex;
    text-decoration: none;
     align-items: center;
     padding-left: 301px;
     position: absolute;}

.it-network{margin-bottom: 72px;}

.net{font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.03em;
text-transform: uppercase;
padding-bottom: 20px;
color: #FFFFFF;
padding-top: 60px;}

.it-neti{margin-top: 93px;}

.my-network:hover{background: #2196F3;}
.mi-network{padding-top: 60px;
    padding-bottom: 60px;
}
.clients{text-align: center;
  
    padding-bottom: 50px;}

.my-lera{ display: flex;
     margin-left: auto;
margin-right: auto;
justify-content: center;
padding-bottom: 94px;
}

.it-lera{margin-right: 15px;background: #FFFFFF;
border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
padding-right: 0px;
padding-left: 0px;
border-radius: 4px; 
}

.it-lera:hover{background: #E5E5E5; color: #2196F3;;
    border: 1px solid #2196F3;}
.lera{background: #FFFFFF;
    fill: #AFB1B8;
height: 90px;
width: 170px;


justify-content: center;
display: flex; }
.lera:hover{fill: #2196F3;}

 .mast-last{justify-content: center; padding-left: 0px;
   display: inline-flex;
  display: flex;
   
  flex-wrap: wrap;}
      
 .mast-team {
     display: inline-flex;
     justify-content: center;
     padding-left: 0px;
      display: flex;
      flex-wrap: wrap;
   }

   .last-page{position: relative; overflow: hidden;}

.master-photo:hover .portfolio-overlay {
    transform: translateY(0%);
}
.master-photo.img{display: block;}

.portfolio-overlay{
   
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 110%;
background: rgba(33, 150, 243, 0.9);
transform: translateY(100%);
transition: transform 250ms linear;
}
.texno{
    justify-content: center;
    padding-top: 63px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 63px;
     font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;


letter-spacing: 0.03em;

color: #FFFFFF;}

      .last-page img {
     width: 100%;}
    .mi-project{text-align-last: left;
    padding: 24px 20px;}

.last-page{margin-right: 30px;margin-bottom: 30px;
  justify-content: center;
width: 370px; border: 1px solid #EEEEEE;}
.last-page:hover{
    border: 1px solid #EEEEEE;
box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);}
.last-page:nth-child(3n + 3) {margin-right: 0px;}


.project {
  font-size: 16px;
  line-height: 1.9;
  color: #757575;}

        
                footer{background: #2F303A;}
                

                .background{background: #F5F4FA;}

                ul{list-style: none;}

                .my-address{padding-left: 0;
                font-family: Roboto;
                    font-style:400;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;}

                .add{font-family: Roboto;
                    font-style:400;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    
                    color: #FFFFFF;
                    }

                    .text-add{font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;}
                a {text-decoration: none;} 
                

    .bar{margin-left: auto;margin-right: auto;}
    .header>.container{align-items: center;}
    
    .container-navigation{
       margin-left: 400px;
    padding-top: 93px;
padding-bottom: 50px;}
      
    .button-site:hover{ 
      color: #FFFFFF; background: #2196F3; }
  .button-site{
      background: #F5F4FA;
    font-family: Roboto;
    font-style: 400;
     font-weight: 500;
    font-size: 16px;
     line-height: 1.6;
    color: #212121;
     min-width: 73px;
     height: 38px;
      
      border-radius: 4px;border: 1px solid transparent;
    margin-left: 8px;}
    .button-primery:hover{color: #212121;}

   

.button-primery{ font-family: Roboto;
    font-style: 400;
     font-weight: 700;
    font-size: 16px;
     line-height: 1.8;
     color:#FFFFFF;
   
     
     min-width: 200px;
     height: 50px;
      background: #2196F3
     ;border-radius: 4px;border: 1px solid transparent;}
     

.ul{margin-left: 0;
 margin-bottom: 0;
padding-left: 0; }
.p{margin-left: 0;margin-bottom: 0;
padding-left: 0;}
.h1,h2,h3{margin-left: 0;margin-bottom: 0;
padding-left: 0;}
a{text-decoration: none;}
*{margin:0;}
.a.span.button{margin: 0;}
.button{background-repeat: 0px;}